h1 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 60px;
  font-size: 4rem;
}

footer {
  font-size: 0.8rem;
  font-weight: 500;
  color: #a9a9a9;
  margin-top: 300px;
}

footer a {
  color: inherit;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
}

.App h2 {
  font-size: 2rem;
}

.filter-container {
  padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 20px;
}

.filter-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.filter-container ul li {
  padding-left: 25px;
}

.filter-container button {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 17px;
  background: inherit;
  border: none;
  cursor: pointer;
  position: relative;
}

.filter-container .active::after {
  content: '';
  width: 100px;
  height: 5px;
  background: #2f80ed;
  border-radius: 5px;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 425px) {
  h1 {
    font-size: 42px;
  }
  .filter-container ul {
    padding: 0 20px;
  }

  .filter-container ul li {
    padding-left: 30px;
    font-size: 12px;
  }
  .filter-container .active::after {
    width: 60px;
  }
}
