.todoFormContainer form {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.todoFormContainer input {
  color: #000;
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #BDBDBD;
  width: 80%;
  padding: 1rem;
}

.todoFormContainer input:focus {
  outline: none;
  border: 1px solid rgba(127, 177, 243, 0.4);
}

.todoFormContainer button {
  margin-left: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
  background: #2F80ED;
  box-shadow: 0px 2px 6px 0px rgba(127, 177, 243, 0.4);
  width: 20%;
  padding: 1.07rem 1rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.todoFormContainer button:hover {
  background: rgba(127, 177, 243, 1);
}
